name: Build and Test

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1.3.1

    - name: Restore NuGet packages
      run: nuget restore up_02.sln

    - name: Build Solution
      run: msbuild up_02.sln /p:Configuration=Release

    - name: Upload Build Artifacts
      uses: actions/upload-artifact@v3
      with:
        name: AppBuild
        path: up_02/bin/Release/
